#hair1 {
    width: 80px;
    height: 80px;
    float: left;
    background-image:url("images/hair1.png");
}
#hair2 {
    width: 80px;
    height: 80px; 
    float: left;
    background-image:url("images/hair2.png");
}
#hair3 {
    width: 80px;
    height: 80px; 
    float: left;
    background-image:url("images/hair3.png");
}

#cloth1 {
    width: 80px;
    height: 80px; 
    float: left;
    background-image:url("images/cloth1.png");
}
#cloth2 {
    width: 80px;
    height: 80px; 
    float: left;
    background-image:url("images/cloth2.png");
}
#cloth3 {
    width: 80px;
    height: 80px; 
    float: left;
    background-image:url("images/cloth3.png");
}

.clear {
    clear: both;
}

#display {
	width: 240px;
	height: 240px;
	position: relative;
	background-color: green;
}
#layer_background {
	width: 240px;
	height: 240px;
	position: absolute;
	background-image: url(images/background.png);
}
#layer_hair {
	width: 240px;
	height: 240px;
	position: absolute;
	background-image: url(images/fullsize/hair1.png);
}
#layer_cloth {
	width: 240px;
	height: 240px;
	position: absolute;
	background-image: url(images/fullsize/cloth1.png);
}
